html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    overflow: hidden;
}

.wrap  {
    height: 400px;
}

#tinderslide {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
	margin:auto;
}

#tinderslide ul {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
}

#tinderslide li {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: #eee;
    font-size: 24px;
    color: #000;
    border: 1px solid #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(96, 96, 96, 0.2);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    z-index: 2;
}

/* Image text */
#tinderslide li h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}

/* Image rotation */
#tinderslide li.pane1 {
    transform: rotate(-1deg);
}

#tinderslide li.pane2 {
    transform: rotate(2deg);
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    background: url("../img/liked.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 80px;
    position: absolute;
    width: 170px;
    left: 50px;
    top: 50px;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
}

#tinderslide .dislike {
    right: 45px;
    left: auto;
    background: url("../img/nope.png") no-repeat scroll 0 0;
}

/* Image container */
#tinderslide .img {
    height: 90%;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;    
    position: relative;
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
}

/* Action - buttons */
.actions {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.actions a i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.actions a.dislike i {
    width: 70px;
    height: 70px;
	padding-top:25px;
    background: url("../img/dislike_button.png") no-repeat center center;
}

.actions a.like i {
    width: 70px;
    height: 70px;
	padding-top:25px;
    background: url("../img/like_button.png") no-repeat center center;
}

.actions a {
    float: left;
    display: block;
    margin: 30px;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    line-height: 144px;
    outline: none;

  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.actions a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
  background-color: white;
  transform: scale(1.06);
  transition: all 0.2s ease-in-out;
}

/* jTinder status text */
#status {
    text-align: center;
    font-size: 18px;
    font-family: arial;
    margin-top: 30px;
    font-weight: bold;
}