<!DOCTYPE html>
<html lang="en">
<head>
<title>Fast-Dating MyTinder</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="./js/jquery.min.js"></script>
<style>
body {
    font-family:Verdana, Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;     
    margin: auto;
}

header {
    background-color: #869dc7;
    color: #b1b1d3; 
    font-size: 120%; 
    padding: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-color: rgb(190, 13, 119);
    height: 80px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

h1 {
    position: relative;
    margin:auto;
    margin-left:10px;    
    color: rgb(255,255,255);
}

.main {
    width:100%;
    display: flex;
}

.sidebar { 
       float: left;
	   width: 220px;
       height: 100vh;
	   letter-spacing:0.1em;
	   font-weight: bold;
       background-color: rgb(236,236,255);
       z-index: 1;
} 

.sidebar ul { 
        list-style-type: none; 
        margin: 0;
        padding: 5px;
}

.sidebar a { 
text-decoration: none; 
        display: block;
	    padding: 20px;    
        background-color: #b3c7e6;     
	    border-bottom: 1px solid #ffffff; 
        border-radius: 3px;
}
.sidebar a:link { 
    color: #ffffff; 
}
.sidebar a:visited { 
    color: #eaeaea; 
}
.sidebar a:hover { 
    background-color: #eaeaea;
    color: #869dc7;
    cursor: pointer;
}

#content { 
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    margin:auto;
    z-index: 0;
    padding-top: auto;
    width:100%;
    height:100%;    
} 

footer {
    position: fixed;

    font-size:70%;
    text-align: center;
    padding-top: 20px;
    
    width: 100%;
    height: 5vh;
    margin: auto;
    padding: auto;

    left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(134, 157, 199, 0.5);
  color: white;
  text-align: center;   
  z-index:1; 
}

.main-nav {
    position: relative;
    width: auto;
    padding: 10px 10px 10px 10px;    
    --color-1: rgba(196, 206, 214, 0.8);
    --color-2: rgba(75, 96, 114, 0.8);      
}

.main-nav ul li {
  display: inline;
  padding: 1em;
  list-style-type: none;  
  float:left;
}
.main-nav ul li:last-child {
  border-bottom: none;
}
.main-nav ul li a {
  color: rgb(255,255,255);
  text-decoration: none;
}
.main-nav ul li a:hover {
  color: var(--color-2);
}
</style>
</head>
<body>
    <header>
        <h1>Fast-Dating</h1>
         <div class="main-nav">
            <ul>
               <li>                  
                  <a href="#about" class="nav-link">About</a>
               </li>
               <li>
                  <a onclick="uploadSwipePhoto()" class="nav-link">TestUpload</a>
               </li>
               <li>               
                  <div style="color:yellow; position:relative;top:-30px;">{{nameVal}}</div>
                  <a href="./logout" class="nav-link" style="position:relative;top:-25px;">Logout</a>
               </li>                           
            </ul>
         </div>             
    </header> 
    <div class="main">
        <div class="sidebar">
            <ul>
            <li><a onclick="showRecommendation()">Swipe</a></li>
            <li><a onclick="showMatches()">Matches</a></li>
            <li><a onclick="showLikes()">Likes</a></li>
            <li><a onclick="showProfile()">Profile</a></li>
            <li><a onclick="showPhoto()">Photo</a></li>
            <li><a onclick="showMessage()">Message</a></li>
            </ul> 
        </div> 
        <div id="content"> 
        </div> 
    </div> 

    <script>
        var userName = "{{nameVal}}";
        var userId = "{{idVal}}";

        window.datingApp = {} || window.datingApp;

        $(document).ready(function() {
            showRecommendation();

            console.log("username", userName);
            window.datingApp.userName = userName;
            window.datingApp.userId = userId;
            window.datingApp.showRecommendation = showRecommendation;
        });        

        showRecommendation = function() {
            var data = "<iframe src='./recommend' width='100%' height='100%'" +
                       " frameborder='no' border='0' marginwidth='0' marginheight='0' style='padding-left:0px;'></iframe> ";        
            $("#content").html(data);
        }

        showMatches = function() {
            var data = "<iframe src='./matches' width='100%' height='100%'" + 
                       " frameborder='no' border='0' marginwidth='0' marginheight='0' style='padding-left:0px;'></iframe> ";        
            $("#content").html(data);

        }

        function showLikes() {
            var data = "<iframe src='./likes' width='100%' height='100%'" + 
                       " frameborder='no' border='0' marginwidth='0' marginheight='0' style='padding-left:0px;'></iframe> ";        
            $("#content").html(data);             
        }

        function showProfile() {              
            var data = "<iframe src='./edit-profile' width='100%' height='100%'" + 
                       " frameborder='no' border='0' marginwidth='0' marginheight='0' style='padding-left:0px;'></iframe> ";        
            $("#content").html(data);
        }        

        function showPhoto() {
             $("#content").html("Photo");
        } 
        
        function showMessage() {
            //for test
             $("#content").html("Message");
        }         

        function uploadSwipePhoto() {
            var data = "<iframe src='./photo1' width='100%' height='100%'" + 
                       " frameborder='no' border='0' marginwidth='0' marginheight='0' style='padding-left:0px;'></iframe> ";        
            $("#content").html(data);
        }
    </script>
</body>
</html>


