<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Fast Dating</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../splide-3.3.0/dist/css/splide.min.css">
	    <script src="../splide-3.3.0/dist/js/splide.min.js"></script>
        {% block addHead %}
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="footer">
                {% block footer %}
                    &copy; Copyright 2021 by <a href="http://day06slimfirst/">you</a>.
                {% endblock %}
            </div>
        </div>
    </body>
</html>