    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <style>
      body {
        font-family:Verdana, Arial, sans-serif;
      }

      header {          
          background-color: #869dc7;
          color: #b1b1d3; 
          font-size: 120%; 
          padding: 10px 10px 10px 10px;
          background-repeat: no-repeat;
          background-color: rgb(190, 13, 119);
          height: 80px;
          display: flex;
          flex-direction: row;
          z-index: 1;
      }

      h1 {
          position: relative;
          margin:auto;
          margin-left:10px;    
          color: rgb(255,255,255);
      }


      .matches_container{
        width:100vh;
        height:100vh;
      }

    </style>

  <div class="matches_container">
      <div>
        <div>
          <h2>My Matches</h2>
        </div>
      </div>
      <table class="table table-bordered">
        <thead class="thead-default">
        <tr>
          <th style="width: 70px">Photo</th>
          <th>Name</th>
          <th>Location</th>
          <th style="width: 90px">Profile</th>
          <th style="width: 90px">Chat</th>
        </tr>
        </thead>
        <tbody>
        {% if items is iterable %}
          {% for item in items %}
            <tr>
              <td><img style="border-radius: 50%;" src="https://picsum.photos/50/50/?random"/></td>              
              <td>{{ item.userName }}</td>
              <td>{{ item.location }}</td>
              <td><a style="cursor:pointer;color:white;" onclick="showUserProfile({{item.id}});" class="btn btn-danger">View</a></td>
              <td><a href="" class="btn btn-danger">Chat</a></td>              
            </tr>
          {% endfor %}
        {% else %}
          <p class="text-secondary">No Matches</p>
        {% endif %}
        </tbody>
      </table>
  </div>
  <script>
        function showUserProfile(id) {
            $.ajax({     
                async: true,                                 
                url: './profile/1',              
                type: "get",          
                dataType: 'html',                
                success: function(data){
                    console.log(data);
                    $("#content").html(data);
                } 
            });                 
        }
  </script>

