{% extends "master.html.twig" %}

{% block content %}
<div class="wrapper">
	<h4 class="profile_username">{{ u.userName }}</h4>
	<div class="profile_main_photo">
		<img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
	</div>
    <div class="profile_age">
    <p>{{ u.birthDate }} years old</p>
    </div>
    <div class="profile_bio">
    <p>{{ u.bio }}</p>
    </div>
    </div>

	{% if ownProfile %}
		<div class="edit_profile_btn">
			<form action="/edit_profile/{{ uId }}">
				<input type="submit" value="Edit Your Profile"/>
			</form>
		</div>
	{% endif %}

{% endblock content %}
